.event {
  position: absolute;
  width: 80%;
  height: 72px;
  line-height: 20px;
  background: #00a49b;
  border-radius: 20px;
  padding: 20px;

  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    animation: none;
    background-color: #026773;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  bottom: -20px;
  right: -40px;

  &:hover {
    color: white;
    background-color: #00a49b;
  }
}
